body{
    display: flex;
    background-color: black;
    overflow: hidden;
}
/* Hoved Element som inneholder alt på siden*/

.main-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin:0;
    border: 0;
    background-image: url(../Images/Theater3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
/* Teater gardin animasjonselementer*/
.curtain{
    display: flex;
    height: 100vh;
    width:50vw;
    z-index: 3;
    background-color: rgb(167, 20, 3);
    background-image: url(../Images/curtain.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#curtain_left{
    display: flex;
    animation-name: LeftCurtain;
    animation-duration: 6s;
    animation-iteration-count:1;
    overflow: hidden;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}
#curtain_right{
    display: flex;
    animation-name: RightCurtain;
    animation-duration: 6s;
    animation-iteration-count:1;
    overflow: hidden;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

/* Teater gardin animasjon*/
@keyframes LeftCurtain{
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(-90%);
        
    }
}

@keyframes RightCurtain{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(90%);
    }
}


/*Bilder og Elementer*/
#backButton img {
    z-index: 4;
    position: absolute;
    width: 50px;
    top: 5%;
    left: 2%;
}
#Erna{
    position: absolute;
    left: 25vw;
    top:45vh;
    height: fit-content;
    width: fit-content;
    
    

}

#ErnaIMG{
    position: sticky;
    height: 10vh;
    width: auto;
    
    

}

#Extra{
    position: absolute;
    top: 5vh;
    left: 5vw;
    height: fit-content;
    width: fit-content;
}
#ClosedPrivateEvent{
position: absolute;
    transform: rotate(-12deg);
    height: 10vh;
    width: auto;

}

#Jonas{
position: absolute;
left: 47vw;
top:32vh;
height: fit-content;
width: fit-content;
}

#JonasDancing{
    height: 20vh;
    width: auto;

}
#MoneyRainDiv{
    position: absolute;
    height: max-content;
    width: max-content;
    left: 30vw;
    right:30vw;
    top:1vh;
    visibility: hidden;
    
}
#MoneyRain{
    position: sticky;
    height: 46vh;
    width: auto;
    margin: 0%;
    padding: 0%;
    

}
#MoneyRainDiv:hover{

    animation-name: MakeItRain;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

    
    
}

@keyframes MakeItRain {
    0%,
    0%{ visibility: hidden;
        
    }
    100%{
        visibility: visible;
    }
    
}